*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.nav-bg{
    background: rgb(1 32 54 / 60%);
}
.navbar-nav .nav-link{
    color:#fff!important;
}
.navbar-nav .nav-link:hover {
    color: #b3d7ff!important;
}
.navbar-toggler{
    outline:none!important;
}
.navbar-light .navbar-toggler {
    border-color: #b3d7ff !important;
}

/*---Hero---*/
#hero{
    width:100%;
    height: 100vh;
    overflow:hidden;
    position: relative;
}

#hero:after{
    content:'';
    position:absolute;
    left:50%;
    top:0;
    width:130%;
    height:95%;
    background:linear-gradient(to right,#6c757dab,rgba(20,54,1,0.4)),url(./img/bg.jpg)center top no-repeat;/*image-size 1920H 1080W*/
    z-index:0;
    border-radius: 0 0 50% 50%;
    transform:translateX(-50%) rotate(0deg);
}

#hero:before{
    content:'';
    position: absolute;
    left:50%;
    top:0;
    width:130%;
    height:96%;
    background:rgb(39 112 155 / 80%);
    opacity:0.3;
    z-index:0;
    border-radius:0 0 50% 50%;
    transform: translateX(-50%)translateY(18px)rotate(2deg);
}

#hero .carousel-container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

#hero h2{
    color:#fff;
    margin-bottom:30px;
    font-size:48px;
    font-weight:bold;
}
#hero p{
    width:80%;
    animation-delay:0.4s;
    margin:0 auto 30px auto;
    color:#fff;
}

#hero .carousel-control-prev, 
#hero .carousel-control-next{
    width:10%;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon{
    background:none;
    font-size:48px;
    line-height:1;
    width:auto;
    height: auto;
}
#hero .hero-btn{
    font-weight:bold;
    font-size:16px;
    letter-spacing:1px;
    display:inline-block;
    padding:12px 32px;
    border-radius:50px;
    transition:0.5s;
    line-height:1;
    margin:10px;
    color:#fff;
    animation-delay:0.5s;
    border:2px solid rgb(189 235 245 / 79%);
}
#hero .hero-btn:hover{
    background:#383d41;
    color:#fff;
    text-decoration:none;
}


/*--End of Hero---*/

/*========Stories========*/
#stories{
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}
.story-box{
    padding:15px;
    background:rgba(0,123,255,.25);
    margin-bottom:30px;
    position:relative;
}
.story-icon{
    width:90px;
    height:90px;
    text-align:center;
    line-height: 90px;
}

.story-icon i{
    font-size:50px;
    color:#fff;
    mix-blend-mode: difference;
}

.story-box h2{
    font-size:24px;
    font-weight:bold;
    color:#fff;
    mix-blend-mode: difference;
}

.story-box p{
    font-size: 16px;
    font-weight:light;
    color:#fff;
    mix-blend-mode: difference;
}

.overlay{
    margin:20px auto;
    border:none;
    padding:10px 44px;
    font-size:20px;
    position:relative;
    display:inline-block;
}

.overlay:before{
    transition:all 0.85s cubic-bezier(0.68,-0.55,0.265,1.55);
    content:'';
    width:50%;
    height: 100%;
    background: #343a40;
    position: absolute;
    top:0;
    left:0;
    border-radius:10px 0px 0px 10px;  
}

.overlay:hover:before{
    background:#343a40;
    width:100%;
    border-radius:10px;
}
/*========End of the Stories========*/

/* donation button */

.bg_image{
    margin-top: 1rem;
    position: relative;
    height: 350px !important;
    background: linear-gradient(to right,#6c757dab,rgba(20,54,1,0.4)),url(./img/d.jpeg)center top no-repeat;
}
.donation-btn{
    top: 9rem;
    position: absolute;
    left: 40%;
}

.footer{
    margin-top: 12rem !important;
    background: linear-gradient(rgba(0,123,255,.25),rgba(0,59,37,0.4));
    padding: 0 0 30px 0;
    color: #000;
    font-size: 15px;
}
.footer .footer-top{
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-des{
    margin-top: -90px;
    margin-bottom: 15px;
    background:#383d41;
    color:#fff;
    border-top: 4px solid rgb(189 235 245 / 79%);
    text-align: center;
    padding:30px 20px;
}
.footer .footer-top .footer-des h3{
    font-size:24px;
    margin: 0 0 2px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
}

.footer .footer-top .footer-des p{
    font-size:14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: rgb(189 235 245 / 79%);
    color: #383d41;
    line-height:1;
    padding:8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align:center;
    width: 36px;
    height:36px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover{
    background: #383d41;
    color: #fff;
    text-decoration: none;
}
.footer .footer-top h4{
    font-size:16px;
    font-weight:bold;
    color: #000;
    position:relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links{
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.footer .footer-top .footer-links ul i{
    padding-right: 2px;
    color:#000;
    font-size: 18px;
    line-height: 1;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items:center;
}
.footer .footer-top .footer-links ul li:first-child{
    padding-top:0;
}
.footer .footer-top .footer-links ul a{
    color:#000;
    transition:0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover{
    color: #383d41;
}

/* scroll up button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; 
    right: 30px; 
    z-index: 99; /* Make sure it does not overlap */
    border: none; 
    outline: none; 
    background-color: #383d41;
    color: white; 
    cursor: pointer; 
    padding: 5px 10px 5px 10px;
    border-radius: 5px; 
    font-size: 15px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }


@media(min-width:1024px){
    #hero p{
        width:60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next{
        width:5%;
    }
}
@media(max-width:768px){
    #hero h2{
        font-size:28px;
    }
    #hero:after{
        width:180%;
        height:95%;
        border-radius:0 0 50% 50%;
        transform:translateX(-50%)rotate(0deg);
        background:linear-gradient(to right,#6c757d87,rgba(20,54,1,0.4)),url("./img/bg2.jpg")center no-repeat;
    }
    #hero:before{
        top:0;
        width:180%;
        height:94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px)rotate(4deg);
    }
    .donation-btn{
        left: 35%;
    }
}
@media(max-width:575px){
    #hero:after{
        left:40%;
        top:0;
        width:200%;
        height:95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)rotate(0deg);
        background:linear-gradient(to right,#6c757d87,rgba(20,54,1,0.4)),url("./img/bg2.jpg")center no-repeat;
    }
    #hero:before{
        left:50%;
        top:0;
        width:200%;
        height:94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px)rotate(4deg);

    }
    .donation-btn{
        top: 10rem;
        left: 30%;
    }
}

